#sell-form{
    margin:2% 15% 2% 15%;
    /*background-color:white;*/
    border:3px solid #f2f2f2;
    background-color:white;
    padding:2% 5% 2% 5%;
    border-radius:10px;
}

#title-container{
    margin-left:15%;
}

/* Thumbnail text */
.text-block {
    margin:0 40%;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:5px;
    opacity:0.2;
}

.autocomplete-div{
}

.card:hover{
   border:1px solid #999;
}

.lower-opacity{
    opacity:90;
}

.rounded-bottom-less{
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

body{
    background-color:#f2f2f2;
}

/* adds red asterisk to required inputs */
label.required:after {
    content:"*";
    color:red;
}

/* removes up and down arrows to number input fields */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#submit-btn{
    cursor:pointer;
}

.col-sm-2, .col-form-label{
    text-align: left;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .non-thumbnail-img {
    opacity: 0.3;
    cursor:pointer;
}

.container:hover .middle {
    opacity: 1;
    pointer-events: none
}

img{
    transition: .5s ease;
    backface-visibility: hidden;
    opacity:1;
}