body{
    background-color:#f2f2f2;
}

.card-body{
    padding:5% 3% 3% 5%;
}

#item-details-div{
    margin:10% 5% 0 5%;
    padding:2%;
    border-radius:10px;
    text-align:left;
    background-color:white;
}

@media only screen and (max-width: 1150px) {
    #item-details-div{
        margin-top:15%;
    }
}

#card-div{
    width:20rem;
}

ul{
    list-style-type:none;
}