body{
    background-color:#fafafa !important;
}

.card-body{
    padding:5% 3% 3% 5%;
}

#item-details-div{
    margin:3% 5% 5% 5%;
    padding:2%;
    /*border-radius:10px;*/
    /*text-align:left;*/
    /*background-color:white;*/
}

.center-text{
    text-align:center;
}

.center{
    margin-left:33%;
}

.card-div{
    display:inline-block !important;
    width:20rem;
    margin:2%;
}

ul{
    list-style-type:none;
}