body{
    background-color:#fafafa !important;
    font-family: "PT Sans", "Helvetica", Arial, sans-serif;
}

.listings-link{
    text-decoration:none !important;
    font-size:1.8rem;
    color:#262626;
}

.listings-link:hover{
    color:#666;
}

.card-body{
    padding:5% 3% 3% 5%;
}

#item-details-div{
    margin:3% 5% 5% 5%;
    padding:2%;
}

.center-text{
    text-align:center;
}

.center{
    margin-left:33%;
}

.card-div{
    display:inline-block !important;
    width:20rem;
    margin:2%;
}

ul{
    list-style-type:none;
}