.navbar-div{
    background-color:#455d7a;
    color:white;
}

#nav-img{
    width:30px;
    display:inline-block;
    margin-right:1%;
}

.nav-link{
    text-decoration:none;
    color:white;
    font-size:20px;
    padding-left:1%;
}
.nav-link:hover{
    color:#ccc;
}

#navbar-title{
    user-select:none;
    text-decoration:none;
    color:white;
    font-size:24px;
    padding:0 0 5px 5px;
}

#signout-btn {
    cursor: pointer;
    background: transparent;
    font-size: 16px;
    border-radius: 50px;
    margin-left:1%;
    color: white;
    border: 1px solid white;
    padding: 0.25em 1em;
    transition: 0.5s all ease-out;
}

#signout-btn:hover {
    background-color: white;
    color: #2D5775;
}

form input{
}

.right-div{
    margin-left:5%;
}
