body#navbar-body{
    background: #ffffff;
    height:100vh;
}

.navbar-div{
    background-color:#455d7a;
    color:white;
}

#nav-img{
    width:30px;
    display:inline-block;
    margin-right:1%;
}

#signout-btn {
    display:inline-block;
    margin-left:2%;
    cursor: pointer;
    background: transparent;
    font-size: 16px;
    border-radius: 50px;
    color: white;
    border: 1px solid white;
    padding: 0.25em 1em;
    transition: 0.5s all ease-out;
}

#tester{
    text-align:right;
    width:80%;
}

#signout-btn:hover {
    background-color: white;
    color: #2D5775;
}

