.ais-SearchBox-form{
    width:70%;
}

.ais-SearchBox-form{
    text-align:center;
    margin:2%;
}

.ais-SearchBox-input{
    border-radius:20px;
}

.ais-Hits-item{
    border:0;
    box-shadow:none;
    padding:0;
}

.search-div{
    padding-left:19%;
}

.image-sizing{
    max-height:13vw;
}

.card-height{
    height:13vw !important;
}

.ais-SearchBox-input{
    outline:none !important;
}

.right-0{
    right:0;
    z-index:10;
}

.like-btn{
    background-color:#f9f9f9;
}

.ais-SearchBox-form{
    margin-bottom:0;
    margin-top:0;
}

.ais-Stats-text{
    color:#212529 !important;
}

.fa-question-circle{
    color:#666;
}

.main-content{
    min-height:81.5vh;
}