.ais-SearchBox-form{
    width:70%;
}

.ais-SearchBox-form{
    text-align:center;
    margin:2%;
}

.ais-SearchBox-input{
    border-radius:20px;
}

.ais-Hits-item{
    border:0;
    box-shadow:none;
    padding:0;
}

.search-div{
    margin-left:19%;
}

.image-sizing{
    max-height:13vw;
}

.card-height{
    height:13vw !important;
    display:table;
}

.inner-div{
    display: table-cell;
    vertical-align: middle !important;
}

.ais-SearchBox-input{
    outline:none !important;
}

.right-0{
    right:0;
    z-index:10;
}

.like-btn{
    background-color:#f9f9f9;
}

.ais-SearchBox-form{
    margin-bottom:0;
    margin-top:0;
}

.ais-Stats-text{
    color:#212529 !important;
}

.fa-question-circle{
    color:#666;
}

.main-content{
    min-height:81.5vh;
}

.card-image-overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-image-overflow:hover{
    overflow: visible;
    white-space: normal;
    width: auto;
    /*position: absolute;*/
}

.margin-stats-text{
    margin-left:23%;
}
.tooltip-hover {
    position: relative;
    display: inline-block;
}

.tooltip-hover .tooltiptext {
    font-family: "PT Sans", sans-serif;
    visibility: hidden;
    width: 200px;
    background-color: #212529;
    opacity:0.8;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -100px;
}

.tooltip-hover .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip-hover:hover .tooltiptext {
    visibility: visible;
}
